
name: Code-Quality

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: amazon linux
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: |
          cd app
          npm install
      - name: Run Tests
        run: |
          cd app
          npm test
